#demo .item {
    padding: 2px 0 2px 40px;
  position: relative;
  transition: background-color .2s ease;
}
  
#demo .item p {
    margin: 2px 0;
}
    
#demo .item .title:visited {
    color: #828282;
}
      
#demo .item .index {
    color: #828282;
    position: absolute;
    width: 30px;
    text-align: right;
    left: 0;
    top: 4px;
}
    
#demo .item .domain, #demo .item .subtext {
    font-size: 11px;
    color: #828282;
}
    
#demo .item a {
    color: #333;
    font-weight: bold;
}
      
#demo .item .subtext a:hover {
    text-decoration: underline;
}
    
    
