<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <!--<div class="container">-->
    <h1 class="">Hellow Vue.js</h1>
    <p style="line-height: 1.1em;">Vue.js (pronounced /vjuː/, like view) is a library for building interactive web interfaces. The goal of Vue.js is to provide the benefits of reactive data binding and composable view components with an API that is as simple as possible.</p>
    <p><a class="btn btn-primary btn-lg" href="http://vuejs.org/guide/" role="button" target="_blank">Learn more &raquo;</a></p>
    <!--</div>-->
</div>

<hr>

<h1 class="text-center">Examples</h1>
<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h3><i class="fa fa-calendar-check-o" aria-hidden="true"></i> TodoMVC + Firebase</h3>
        <p>This example uses <a href="https://www.firebase.com/" target="_blank" rel="external">Firebase</a> as the data persistence backend. Example is a fully spec-compliant TodoMVC implementation in under minimum effective lines of JavaScript (excluding comments and blank lines).</p>
        <p>This example can be found <a href="http://vuejs.org/examples/todomvc.html" target="_blank">here</a></p>
        <p><a class="btn btn-default" href="#" role="button" v-link="'/todo'">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Markdown Editor</h3>
        <p>This is simple Markdown editor. <a href="http://daringfireball.net/projects/markdown/">Markdown</a> is a way to style text on the web. You control the display of the document; formatting words as bold or italic, adding images, and creating lists are just a few of the things we can do with Markdown.</p>
        <p>This example can be found <a href="http://vuejs.org/examples/index.html" target="_blank">here</a></p>
        <p><a class="btn btn-default" href="#" role="button" v-link="'/markdown'">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3><i class="fa fa-github" aria-hidden="true"></i> GitHub Commits</h3>
        <p>This example fetches latest "Silex-MVC" commits data from GitHub’s API and displays them as a list. You can switch between the master and other branches. GitHub is a code hosting platform for version control and collaboration. It lets you and others work together on projects from anywhere.</p>
        <p>This example can be found <a href="http://vuejs.org/examples/commits.html" target="_blank">here</a></p>
        <p><a class="btn btn-default" href="#" role="button" v-link="'/github'">View details &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3><i class="fa fa-fire" aria-hidden="true"></i> Firebase + Validation</h3>
        <p>This example uses <a href="https://www.firebase.com/" target="_blank" rel="external">Firebase</a> as the data persistence backend and syncs between clients in real time (you can try opening it in multiple browser tabs). In addition, it performs instant validation using computed properties and triggers CSS transitions when adding/removing items.</p>
        <p>This example can be found <a href="http://vuejs.org/examples/firebase.html" target="_blank">here</a></p>
        <p><a class="btn btn-default" href="#" role="button" v-link="'/firebase'">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> Sort Grid Component</h3>
        <p>This is an example of creating a reusable grid component and using it with external data.</p>
        <p>This example can be found <a href="http://vuejs.org/examples/grid-component.html" target="_blank">here</a></p>
        <p><a class="btn btn-default" href="#" role="button" v-link="'/grid'">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3><i class="fa fa-cloud-download" aria-hidden="true"></i> Hacker News</h3>
        <p>This is a HackerNews clone built upon HN’s official <a href="https://github.com/HackerNews/API" target="_blank">Firebase API</a>, and using Asynchronous module definition (AMD) is a JavaScript specification that defines an API for defining code modules and their dependencies, and loading them asynchronously if desired.</p>
        <p>This example can be found <a href="http://vuejs.org/examples/hackernews.html" target="_blank">here</a></p>
        <p><a class="btn btn-default" href="#" role="button" v-link="'/hackernews/news/1'">View details &raquo;</a></p>
    </div>
</div>





